.client-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    padding:25px;

    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,.05);

}

.client-left{

    display:flex;

    align-items:center;

    gap:20px;

}

.client-avatar{

    width:70px;

    height:70px;

    border-radius:50%;

    background:#8B5CF6;

    color:white;

    font-size:28px;

    font-weight:700;

    display:flex;

    align-items:center;

    justify-content:center;

}

.client-left h1{

    margin:0;

    color:#2E1065;

}

.client-left p{

    margin-top:8px;

    color:#6B7280;

}

.client-right{

    display:flex;

    align-items:center;

    gap:15px;

}

.client-right select{

    padding:10px 14px;

    border:1px solid #ddd;

    border-radius:10px;

    outline:none;

}

.client-right button{

    background:#8B5CF6;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;

}

.client-right button:hover{

    background:#7C3AED;

}